body {
	padding: 5em 1em 1em 1em;
}

span.h {
	padding-left: 0px;
	font-weight: bold;
}

span {
	display: block;
	padding-left: 10px;
}

#nav {
	font-family: Helvetica;
	position: fixed;
	right: 10px;
	top: 10px;
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
	display: none;
}

#nav-output {
	font-family: Helvetica;
	position: fixed;
	right: 10px;
	top: 10px;
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
	padding: 10px;
	width: 300px;
	display: none;
}

#nav-output h3 {
	font-size: 90%;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px;
}

#nav-output div {
	font-size: 80%;
	padding: 2px;
}


#explore {
	color: #00e;
	cursor: pointer;
	font-size: 90%;
	border: 1px solid #e0e0e0;
	text-align: center; 
	padding: 2px 5px 2px 5px;
}

.dynanchor{
	color: #f0f0f0;
}

.lnk {
	margin: 10px;
}

.lnk span {
}

.lnk span.expand {
	font-size: 100%;
	border: 1px solid #e0e0e0;
	width: 10px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	padding: 0 0 0 2px;
}

.concept-stats {
	color: #909090;
	font-size: 70%;
	padding: 0 0 0 12px;
}

.extension {
	margin: 10px;
}

.extension span {
	float: left;
}